@charset "utf-8";
/* CSS Document */
*{padding:0px; margin:0px;}
html{height: 100%;overflow-y:auto;}
/*****！！页面通用css样式定义开始******/
/* body的css定义:这里定义页面上下左右边距，页面背景颜色，滚动条颜色样式 */
body{
  position: relative;
  min-height: 100%;
  font-family: Arial, Tahoma, "Microsoft YaHei";    /*文字字体定义 */
  font-size: 12px;    /*文字大小定义 */
  color: #333333; /*文字颜色定义 */
}

/* 网站超链接css通用设置 */
a{text-decoration: none; cursor: pointer; } /* 链接无下划线,有为underline */ 
a:link {color: #333333;} /* 未访问的链接 */
a:visited {color: #333333;} /* 已访问的链接 */
a:hover{color: #333333;} /* 鼠标在链接上 */ 
a:active {color: #333333;} /* 点击激活链接 */
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
img{border: 0px;}
.clear{clear:both; line-height:0; height:0; font-size:0px;}
.clear:after{content: "."; display: block; height: 0; clear: both; visibility: hidden; }/*清除浮动*/

/*表格样式定义 */ 
checkbox{border: 0px;}/*选择框样式定义 */
p{margin:0; padding:0;}/*文字按钮样式定义 */
/*其它 */ 
li{list-style-type: none;}
em,i{font-style:normal;}
::-webkit-input-placeholder{color: #999999;letter-spacing: -1px;} /* Safari,Google Chrome, Opera15+ */
:-moz-placeholder{color: #999999;letter-spacing: -1px;} /* Mozilla Firefox 4-18 */
::-moz-placeholder{color: #999999;letter-spacing: -1px;} /* Mozilla Firefox 19+ */
:-ms-input-placeholder{color: #999999;letter-spacing: -1px;} /* IE10 */

/******* 用户登录开始 *******/
.header{background-color: #ffffff;}
.logoWrap{max-width: 1440px;min-width: 1280px;height: 70px;margin: auto;}
.logoWrap>img{float: left;}
.nav{width: 1000px;margin: auto;}
.nav li{float: left;}
.nav li a{display: block;width: 60px;margin: 18px 15px 0 34px;line-height: 2;font-size: 14px;text-align: center;border-bottom: 1px solid #dcdcdc;color: #555555;}
.rightbar{float: right;margin: 25px 45px 0 0;}
.rightbar li{float: left;}
.rightbar li a{display: block;padding: 0 12px;border-right: 1px solid #c8c8c8;}
.rightbar li a img{display: block;width: 31px;height: 22px;}
.loginBg{position: absolute;top: 70px;bottom: 0;left: 0;right: 0;background: url(../img/login_bg.jpg) no-repeat center center;background-size: cover;}
.loginWrap{position: relative;height: 100%;width: 1000px;margin: auto;}
.login_form{position: absolute;top: 50%;right: 0;margin-top: -150px;width: 320px;height: 300px;padding: 0 40px;border-radius: 4px;background-color: #ffffff;box-shadow: 0 0 24px 5px rgba(0,0,0,.25);}
.login_form h3{margin: 2px 0 1px;font-size: 16px;line-height: 4;text-align: center;}
.login_form input{display: block;margin-bottom: 15px;padding-left: 0.5em;width: 100%;height: 46px;line-height: 46px;font-size: 16px;border: 1px solid #dddddd;}
.login_form button, .login_form>a{display: block;margin-bottom: 15px;width: 100%;height: 48px;line-height: 48px;font-size: 16px;text-align: center;background-color: #3e8dea;border: none;border-radius: 3px;color: #ffffff;}
.form_input{display: none;overflow: hidden;}
.form_input input{float: left;width: 178px;}
.form_input button{float: right;width: 120px;}
.login_actions a{line-height: 1;font-size: 14px;text-decoration: underline;color: #666666;}
.back{display: none;}
.register{float: right;}
.registerModal .modal{top: 50%;transform: translateY(-50%);}
.registerModal .modal a{margin-bottom: 32px;}
.formList{padding-top: 16px;}
.formList li{font-size: 14px;height: 32px;padding-bottom: 16px;line-height: 32px;}
.formList li label{float: left;width: 200px;text-align: right;}
.formList li input{float: left;height: 30px;width: 230px;margin-left: 16px;padding-left: 8px;font-size: 14px;border: 1px solid #cccccc;}
.passwordModal .modal{top: 250px;}
.emailModal .formList{position: absolute;top: 50%;width: 100%;transform: translateY(-50%);}
/******* 用户登录结束 *******/

/******* 首页开始 *******/
.layout{max-width: 1440px;margin: auto;}
.layout .wrap{width: 1000px;overflow: initial;}
.layout .wrap h3{line-height: 90px;font-size: 24px;color: #555555;}
.banner .kinMaxShow_button{transform: translateX(50%);}
.banner .kinMaxShow_button li:last-child{margin-right: 0;}
.latest ul{margin-bottom: 45px;height: 370px;}
.latest ul li{float: left;line-height: 1;}
.latest ul li:not(:last-child){margin-right: 31px;}
.latest ul li a{display: block;width: 312px;margin-left: -14px;padding-left: 14px;}
.latest ul li a img{display: block;margin: 0 0 25px -14px;}
.latest ul li a p{font-size: 16px;color: #555555;}
.latest ul li a span{display: block;height: 42px;margin: 26px 0 14px;line-height: 1.5;font-size: 14px;color: #999999;overflow: hidden;}
.latest ul li a i, .recommend ul li a i, .productContent ul li a i{position: relative;display: inline-block;width: 128px;padding: 7px 0 5px 12px;font-size: 14px;background: url(../img/learn_more.png) no-repeat 115px 7px #3e8dea;color: #ffffff;}
.latest ul li a i::after{content: '';position: absolute;left: 0;bottom: 0;width: 312px;height: 1px;background-color: #25a1e3;}
.feature{margin-bottom: 15px;padding: 27px 0 44px;background-color: #daecff;}
.feature ul{overflow: hidden;}
.feature ul li{float: left;width: 20%;line-height: 18px;font-size: 14px;text-align: center;color: #555555;}
.feature ul li img{display: block;margin: 0 auto 21px;}
.recommend ul li a{display: block;margin-bottom: 50px;overflow: hidden;}
.recommend ul li a img{width: 488px;height: 300px;}
.recommend ul li a>div{float: left;width: 488px;line-height: 24px;font-size: 14px;border-bottom: 1px solid #25a1e3;color: #888888;}
.recommend ul li:nth-child(2n+1) a img{float: left;}
.recommend ul li:nth-child(2n+1) a>div{margin-left: 24px;}
.recommend ul li:nth-child(2n) a img{float: right;}
.recommend ul li:nth-child(2n) a>div{margin-right: 24px;}
.recommend ul li a>div h6{font-size: 14px;color: #3e8dea;}
.recommend ul li a>div h6 strong{display: block;font-weight: normal;font-size: 20px;color: #555555;}
.recommend ul li a>div div{height: 115px;margin: 46px 8px 0 0;}
.recommend ul li a>div i{margin-top: 16px;line-height: 1;}
.innerBanner{display: block;box-sizing: border-box;max-width: 100%;height: 240px;}
.footer{margin-top: 10px;line-height: 1;font-size: 14px;background-color: #6a6a67;}
.footer .wrap h3{padding: 38px 0 12px;line-height: 1;border-bottom: 1px solid #969696;color: #ffffff;}
.footerNav{padding: 16px 0 19px;border-bottom: 1px solid #969696;overflow: hidden;}
.footerNav a{float: left;color: #ffffff;padding: 0 25px;}
.footerNav a:first-child{padding-left: 4px;}
.footerNav a:not(:last-child){border-right: 1px solid #d3f1f1;}
.bank{padding: 32px 0 8px 40px;border-bottom: 1px solid #969696;overflow: hidden;}
.bank a{float: left;margin: 0 24px 23px 0;}
.bank a img{display: block;width: 164px;height: 60px;}
.copyright{padding: 26px 0 28px;color: #ffffff;}
/******* 首页结束 *******/

/******* 产品列表开始 *******/
.filterWrap{margin-top: 30px;padding: 27px 0 12px;background-color: #f6faff;}
.filterWrap ul li, .selected{padding-left: 22px;overflow: hidden;}
.filterWrap ul li span, .selected span{float: left;width: 78px;font-size: 14px;}
.filterWrap ul li span{line-height: 20px;color: #555555;}
.filterWrap ul li div, .selected div{float: right;width: 900px;}
.filterWrap ul li div a{float: left;margin: 0 12px 20px 0;padding: 0 11px;line-height: 18px;border-style: solid;border-width: 1px;border-color: #cccccc;border-radius: 2px;color: #666666;}
.filterWrap ul li div a:first-child{margin-right: 20px;}
.filterWrap ul li div a.active{border-color: #db818b;background-color: #db818b;color: #ffffff;}
.selected{margin: 10px 0px;line-height: 30px;}
.selected span{color: #999999;}
.selected div a{float: left;margin-right: 20px;padding: 0 10px 0 14px;background-color: #f0f0f0;color: #aaaaaa;}
.selected div a i{float: right;margin-left: 12px;font-size: 20px;color: #888888;}
.selected div a.empty{display: none;margin-right: 0;padding-left: 18px;background: url(../img/clear.png) no-repeat left center #ffffff;color: #999999;}
.selected+.product{margin-top: 20px;}
.product{overflow: hidden;}
.productContent{float: left;width: 650px;}
.layout .product h3{line-height: 40px;border-bottom: 1px solid #25a1e3;overflow: hidden;}
.product h3 span{float: left;width: 100px;margin-right: 19px;font-size: 16px;text-align: center;background-color: #3e8dea;color: #ffffff;}
.productContent h3 a{float: left;padding: 0 8px;font-size: 14px;color: #999999;}
.productContent h3 a:not(:last-child){margin-right: 9px;}
.productContent>ul>li a{display: block;height: 189px;margin-top: 30px;border-bottom: 1px dashed #eef6ff;}
.productContent>ul>li a img, .productItem img{float: left;}
.productContent>ul>li a img{width: 244px;height: 150px;}
.productContent>ul>li a>div, .productItem>div{float: right;line-height: 24px;font-size: 14px;color: #888888;}
.productContent>ul>li a>div{width: 390px;}
.productContent>ul>li a>div h6{margin: 5px 0 9px;color: #3e8dea;}
.productContent>ul>li a>div h6 strong{font-size: 16px;color: #555555;}
.productContent>ul>li a>div div{height: 60px;margin-right: -2px;line-height: 18px;}
.productContent>ul>li a>div ul, .productItem>div ul{font-size: 12px;}
.productContent>ul>li a>div ul li, .productItem>div ul li{float: left;width: 50%;}
.productContent>ul>li a>div ul li span, .productItem>div ul li span{color: #dc858f;}
.productContent>ul>li a>div i{float: right;line-height: 1;margin-top: 16px;}
.pagination{margin: 22px 0 14px;line-height: 24px;font-size: 14px;text-align: center;}
.pagination a{margin-right: 5px;padding: 5px 9px;border-style: solid;border-width: 1px;border-color: #e0e0e0;border-radius: 2px;color: #000000;}
.pagination a.active{background-color: #db818b;border-color: #db818b;color: #ffffff;}
.pagination a.disabled{background-color: #f0f0f0;color: #aaaaaa;}
.pagination span{margin-left: 11px;color: #555555;}
.productSider{float: right;width: 300px;}
.productSider img{display: block;width: 300px;height: 240px;margin-bottom: 31px;}
.product .productSider h3{line-height: 30px;}
.product .productSider h3 span{width: 110px;margin-right: 0;}
.productSider ul li a{display: block;margin: 0 10px;padding: 18px 0 8px;line-height: 1;border-bottom: 1px dashed #f0f0f0;color: #999999;}
.productSider ul li a h6{font-size: 14px;color: #555555;margin-bottom: 16px;}
.productSider ul li a div i{color: #555555;}
.productSider ul li a div span{float: right;}
.productItem>div ul{height: 96px;overflow: hidden;}
.productItem>div ul li:last-child{width: 100%;}
.productItem>div ul li:last-child p{float: right;width: 420px;}
.productItem>div a{display: block;margin: 7px 0 0 95px;width: 280px;height: 40px;line-height: 40px;font-size: 18px;text-align: center;background: url(../img/apply.png) no-repeat center center;color: #ffffff;}
/******* 产品列表结束 *******/

/******* 产品内页开始 *******/
.breadcrumb{line-height: 45px;margin-bottom: 30px;font-size: 16px;border-bottom: 1px solid #25a1e3;color: #6f6e6e;}
.breadcrumb p{height: 45px;padding-left: 27px;background: url(../img/breadcrumb.png) no-repeat left center;}
.breadcrumb a{position: relative;float: left;}
.breadcrumb a:not(:last-child){margin-right: 48px;}
.breadcrumb a:not(:last-child)::after{content: '>';position: absolute;right: -27px;}
.productItem{height: 300px;margin-bottom: 25px;}
.productItem img{width: 488px;height: 300px;}
.productItem>div{width: 480px;padding-right: 10px;}
.productItem>div h6{margin-bottom: 27px;}
.productItem>div h6 p{margin: 3px 0 13px;line-height: 1;font-size: 18px;color: #555555;}
.productItem>div h6 span{text-decoration: underline;color: #3e8dea;}
.productItem>div div{height: 72px;}
.productDetail{float: left;width: 685px;padding-top: 10px;font-size: 14px;line-height: 28px;color: #555555;}
.productDetail h6{margin: 20px 0 16px;line-height: 1;font-size: 16px;color: #db818b;}
.productBank{margin: 30px 0;padding: 32px 17px 0;height: 268px;line-height: 2;background-color: #eef6ff;color: #999999;}
.productBank img{width: 264px;height: 34px;margin: 0 auto 30px;}
.productBank+h3+ul{min-height: 315px;}
/******* 产品内页结束 *******/

/******* 用户首页开始 *******/
.userMenu{height: 90px;background-color: #3e8dea;color: #ffffff;}
.wrap{width: 1200px;margin: auto;overflow: hidden;}
.user{float: left;width: 120px;height: 65px;padding-top: 25px;line-height: 1.5;text-align: center;background-color: #314d81;}
.user p{line-height: 25px;font-size: 12px;}
.user a{text-decoration: underline;color: #ffffff;}
.user span{margin: 0 3px;}
.userMenu ul{float: left;}
.userMenu ul li{float: left;}
.userMenu ul li a{position: relative;display: block;padding: 0 24px;line-height: 90px;font-size: 14px;color: #ffffff;}
.userMenu ul li a.active:after{content: '';position: absolute;bottom: 0;left: 50%;margin-left: -10px;border-width: 10px;border-style: solid;border-color: #3e8dea #3e8dea #ffffff #3e8dea;}
.content{float: left;width: 800px;margin-bottom: 25px;}
.sider{float: right;width: 375px;margin-bottom: 25px;}
.content>div,.sider>div{margin-top: 25px;}
.loan_steps{padding: 13px 0 44px;line-height: 1;font-size: 13px;text-align: center;color: #37526d;}
.loan_steps h3{margin-bottom: 53px;font-size: 21px;}
.loan_steps ul{overflow: hidden;}
.loan_steps ul li{position: relative;float: left;width: 33.33%}
.loan_steps ul li:not(:last-child):after{content: '';position: absolute;top: 28px;right: -24px;width: 55px;height: 20px;background-image: url(../img/step_arrow.png);}
.loan_steps ul li img{display: block;width: 78px;height: 60px;margin: 0 auto 28px;}
.loan_steps span{display: inline-block;color: #fe9814;}
.myloan{border-width: 1px 1px 0 1px;border-style: solid;border-color: #e4eaee;}
.myloan h3{height: 48px;padding-left: 12px;font-size: 16px;line-height: 48px;border-bottom: 1px solid #e4eaee;background-color: #f5f8fa;color: #546d7e;}
.loanList li{padding: 10px 28px 11px 11px;border-bottom: 1px solid #e4eaee;overflow: hidden;}
.loanList li img{float: left;width: 110px;height: 67px;margin-right: 22px;}
.loanList li>div{float: left;line-height: 14px;}
.loanList li>a{float: right;width: 70px; height: 24px;margin-top: 18px;line-height: 24px;text-align: center;border: 1px solid #d1d1d1;border-radius: 2px;color: #546d7e;}
.loanName{margin: 3px 0 5px;font-size: 14px;line-height: 18px;}
.loanName a{text-decoration: none;color: #546d7e;}
.loanName a:hover{text-decoration: underline;}
.loanName a>span{color:#999;}
/*.loanName span{font-size: 12px;}*/
.loanName+p{margin-bottom: 13px;color: #546d7e;}
.loanName+p span{margin-right: 46px;}
.loanState{color: #cccccc;}
.loanState span{margin-right: 10px;font-size: 14px;color: #ff0000;}
.message{font-size:13px;position: relative;padding: 30px 20px 32px;line-height: 20px;border: 1px solid #fbb900;background-color: #fefae6;color: #75441d;}
.message span{font-size:12px;position: absolute;top: 0;right: 0;width: 62px;height: 24px;padding-left: 4px;line-height: 2;background-color: #fbb900;}
.message span::before{content: '';position: absolute;left: -12px;border-width: 12px 6px 12px 6px;border-style: solid;border-color: #fefae6 #fbb900 #fbb900 #fefae6;}
.message strong{margin: 0 3px 0 5px;}
.message a{text-decoration: underline;color: #ff0000;}
.calendar h3{height: 42px;line-height: 42px;font-size: 16px;text-align: center;background-color: #6ec884;color: #ffffff;}
.date{padding: 42px 0;line-height: 1;text-align: center;background-color: #f8fffa;color: #55b46c;border-left: 1px solid #cfe5d4;border-right: 1px solid #cfe5d4;}
.date span{font-size: 38px;}
.date p{margin: 20px 0 10px;font-size: 14px;}
.latestProd{padding-bottom: 30px;line-height: 1;border-width: 1px;border-style: solid;border-color:#e4eaee #cfe5d4 #cfe5d4 #cfe5d4;}
.latestProd h6{margin: 13px 0 0 13px;font-size: 15px;color: #555555;}
.latestProd ul{margin: 33px 20px 0;overflow: hidden;}
.latestProd ul li{float: left;width: 33.33%;}
.latestProd ul li a{display: block;text-align: center;color: #555555;}
.latestProd ul li a img{display: block;margin: auto;width: 38px;height: 38px;border: 1px solid #6ec884;}
.latestProd ul li a p{margin: 9px 0;font-size: 14px;color: #000000;}
/******* 用户首页结束 *******/

/******* 我的贷款明细开始 *******/
.loanStep{position: relative;margin: 25px 0 16px 91px;width: 964px;line-height: 24px;font-size: 14px;color: #999999;}
.progress{position: absolute;top: 41px;left: 73px;width: 816px;height: 9px;border-top: 1px solid #cbcbcb;background-color: #dbdbdb;}
.progress::after{content: '';position: absolute;top: 2px;width: 816px;height: 4px;background-color: #00954a;}
.loanStep ul{overflow: hidden;}
.loanStep ul li{float: left;width: 128px;margin-right: 81px;text-align: center;}
.loanStep ul li:last-child{margin-right: 0;}
.loanStep ul li strong{color: #666666;}
.loanStep ul li div{position: relative;width: 32px;height: 32px;margin: 4px auto 25px;border: 1px solid #cccccc;border-radius: 50%;background-color: #dbdbdb;}
.loanStep ul li div:before{content: '';position: absolute;top: 4px;left: 4px;width: 24px;height: 24px;border-radius: 50%;background-image: url(../img/question.png);}
.loanStep ul li div.done::before{background-image: url(../img/check.png);background-color: #00954a;}
.doing::before{background-color: #00954a;}
.myloan h3.orderTitle{color: #333333;}
.applyOrder{line-height: 24px;font-size: 14px;border-bottom: 1px solid #e4eaee;overflow: hidden;}
.orderInfo{float: left;width: 284px;height: 119px;padding: 20px 0 0 14px;border-right: 1px solid #e4eaee;background-color: #fafafa;}
.orderInfo p{margin-bottom: 11px;}
.orderState{float: left;padding: 20px 0 0 20px;}
.orderState span{font-size: 14px;font-weight: bold;}
.orderState span strong{color: #000000;}
.orderState p{margin: 6px 0 18px;font-size: 12px;font-weight: bold;color: #999999;}
.orderState a{font-size:12px;display: inline-block;width: 70px;height: 24px;margin-left: 25px;font-weight: bold;text-align: center;border: 1px solid #cccccc;border-radius: 2px;color: #333333;}
.loanProd{margin: 23px 0 0 8px;font-size: 14px;color: #555555;}
.loanProd a{text-decoration: none;margin-right: 50px;color:#546d7e;}
.loanProd a:hover{text-decoration: underline;}
.loanProd a>span{color:#999;}
.loanProd>span:not(:last-child){margin-right: 50px;}
/******* 我的贷款明细结束 *******/

/******* 我的认证开始 *******/
.myloan h3 span{float: right;margin-right: 16px;font-size: 12px;color: #ff0000;}
.myloan h3 a{float: right;width: 40px;height: 24px;margin: 11px 16px 0 0;padding-left: 30px;line-height: 24px;font-size: 12px;border: 1px solid #d1d1d1;border-radius: 2px;background: url(../img/plus.png) no-repeat 13px center #fff;color: #546d7e;}
.personal{padding: 0 30px 20px;border-bottom: 1px solid #daf3ff;}
.personal a{display: block;width: 120px;height: 40px;margin: 15px 0 0 230px;line-height: 40px;font-size: 16px;text-align: center;border-radius: 4px;background-color: #3e8dea;color: #ffffff;}
.certification li{border-bottom: 1px dashed #e6e6e6;overflow: hidden;}
.status{float: left;padding-top: 12px;line-height: 14px;text-align: center;color: #999999;}
.status img{display: block;margin: 0 auto 4px;}
.status img{display: block;margin: 0 auto 4px;}
.personal .status{width: 120px;}
.personal .formField{width: 618px;}
.formField{float: left;font-size: 14px;color: #546d7e;}
.formField label{float: left;min-width: 90px;margin-right: 20px;line-height: 60px;text-align: right;}
.formField input, .formField select{float: left;}
.input_xs{width: 110px;padding-left: 8px;}
.input_s{width: 140px;padding-left: 8px;}
.input_m{width: 230px;padding-left: 8px;}
.input_l{width: 440px;padding-left: 8px;}
.formField input[type="text"], .formField select, .formField input[type="date"]{margin-top: 14px;border: 1px solid #cccccc;}
.formField input[type="text"], .formField input[type="date"]{height: 30px;}
.formField span{position: relative;float: left;}
.formField input[type="radio"]{margin: 22px 8px 22px 0;width: 16px;height: 16px;}
.formField span i{float: left;margin-top: 14px;line-height: 32px;}
.formField span:last-child input[type="radio"]{margin-left: 24px;}
.formField select{width: 112px;height: 32px;padding-left: 8px;}
.formField select+input{margin-left: 10px;}
.formField span img{width: 60px;height: 40px;margin-top: 10px;}
.formField span:not(:last-child) img{margin-right: 10px;}
.formField span input[type="file"]{position: absolute;top: 10px;left: 0;width: 60px;height: 40px;opacity:0;filter:alpha(opacity=0);cursor: pointer;}
.formField>i{float: right;line-height: 60px;font-size: 12px;color: #999999;}
.formError {border: 1px solid #f5222d!important;}
.enterprise{padding: 1px 30px 34px;border-bottom: 1px solid #daf3ff;background-color: #f8fdff;}
.certification li.new{display: none;}
.certification li.new .title p:last-child{display: block;}
.certification li.new .title p:not(:last-child){display: none;}
.certification li ul{display: none;background-color: #fff;}
.certification li ul li{margin: 0 15px;}
.title{height: 54px;margin-top: 24px;padding: 0 12px;line-height: 54px;font-size: 14px;border: 3px dashed #b5e6ff;background-color: #fff;color: #546d7e;}
.title strong{color: #ff0000;}
.title p{float: right;color: #3366cc;}
.title p:last-child{display: none;}
.title p a{float: left;color: #3366cc;}
.title p i{float: left;margin: 0 5px;}
.enterprise .status{width: 90px;margin-right: 15px;}
.enterprise .formField{width: 603px;}
.formField input[type="date"]::-webkit-inner-spin-button{visibility: hidden;}
.formField input[type="date"]::-webkit-calendar-picker-indicator{width: 16px;height: 16px;background: url(../img/calendar.png) no-repeat center center;color: rgba(0,0,0,0)}
.formField input+label{min-width: auto;margin-left: 8px;}
/** IE 兼容代码 */
.input-buttons{padding: 9px 0;}
.step-controls span.step-up, .step-controls span.step-down{display: none;}
.ws-popover-opener{width: 16px;height: 16px;background: none;top: 8px;}
.ws-popover-opener span{background: url(../img/calendar.png) no-repeat center center;}
/******* 我的认证结束 *******/

/******* 我的信息开始 *******/
.baseInfo, .company{padding: 0 30px 20px;border-bottom: 1px solid #daf3ff;overflow: hidden;}
.baseInfo ul, .company ul{margin-top: 20px;}
.baseInfo ul:last-child{display: none;}
.baseInfo ul li{line-height: 32px;font-size: 14px;color: #999999;overflow: hidden;}
.baseInfo ul li p{float: left;width: 296px;}
.baseInfo ul li span{float: left;width: 80px;}
.baseInfo ul li a{position: relative;float: left;margin-right: 11px;color: #3366cc;}
.baseInfo ul li a:not(:last-child)::after{content: '';position: absolute;top: 9px;right: -5px;width: 1px;height: 14px;background-color: #3366cc;}
.baseInfo ul li img{width: 50px;height: 30px;border: 1px solid #e6e6e6;}
.baseInfo>div{font-size: 14px;text-align: right;color: #3366cc;cursor: pointer;}
.baseInfo>div img{margin-left: 28px;text-align: right;}
.more{border-bottom: 1px dashed #e6e6e6;}
.more img{transform: rotate(180deg);}
.company ul:first-child{padding-bottom: 20px;border-bottom: 1px dashed #e6e6e6;}
.company ul h6{line-height: 36px;font-size: 14px;font-weight: bold;color: #546d7e;}
.company ul h6 strong{color: #ff0000;}
.company ul h6 span{float: right;font-size: 12px;color: #cccccc;}
.company ul>div{margin-bottom: 10px;line-height: 24px;font-weight: bold;color: #999999;}
.company ul li{margin-left: 10px;line-height: 30px;color: #999999;overflow: hidden;}
.company ul li p{float: left;width: 350px;}
.company ul li p img{float: left;width: 42px;height: 28px;border: 1px solid #e6e6e6;}
.company ul li span{float: left;min-width: 80px;margin-right: 20px;color: #546d7e;}
.company ul li div{float: left;}
.company ul li img{float: left;width: 24px;height: 14px;margin: 8px 0 0 5px;}
/******* 我的信息结束 *******/

/******* 我的客服开始 *******/
.myloan .contact:last-child{margin-bottom: 45px;}
.contact{padding: 15px 0 19px 44px;line-height: 1;font-size: 14px;border-bottom: 1px solid #daf3ff;color: #666666;overflow: hidden;}
.contact a{float: left;width: 104px;padding: 13px 0 12px 46px;font-weight: bold;background-image: url(../img/qq.png);color: #ddffff;}
.contact span{float: left;margin: 16px 0 0 38px;}
/******* 我的客服结束 *******/

/******* 提示框开始 *******/
.mask{display: none;position: absolute;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,.2);}
.modal{position: absolute;top: 338px;left: 50%;width: 600px;min-height: 240px;margin-left: -300px;background-color: #ffffff;}
.modal h3{padding-left: 12px;line-height: 40px;font-size: 16px;border-bottom: 1px solid #e4eaee;background-color: #f5f8fa;color: #546d7e;}
.modal h3 i{float: right;width: 40px;height: 40px;background: url(../img/close.png) no-repeat 14px 14px;cursor: pointer;}
.modal>a{display: block;width: 150px;height: 40px;margin: auto;line-height: 40px;font-size: 16px;text-align: center;border-radius: 5px;background-color: #3e8dea;color: #ffffff;}
.modalBody{position: relative;min-height: 120px;}
.modalBody p{position: absolute;top: 50%;width: 100%;margin-top: -12px;line-height: 24px;font-size: 14px;text-align: center;color: #546d7e;}
.modalBody p a{text-decoration: underline;color: #ff0000;}
.companyList{display: none;padding: 24px 0 0 182px;}
.companyList li{line-height: 24px;font-size: 14px;color: #546d7e;}
.companyList li:not(:last-child){margin-bottom: 12px;}
.companyList li input[type="radio"]{float: left;width: 16px;height: 16px;margin: 4px 10px 0 0;}
/******* 提示框结束 *******/

/*******用户底部*************/
.footer_user{background-color: #ffffff;border-top:1px solid #e4eeee;text-align: center;}
.footer_user .copyright{color:#6c6c6c;}
/*******用户底部*************/